<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>

<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="../media/secondhand.jpg"
                             style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Second Sale</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Best Site for buying and selling second hand products</p>
                                {% if not user.is_authenticated %}
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                   href="#">Signup</a>
                                {{MEDIA_URL}}
                                {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'product_list' category.id 1%}">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img width="100" height="100" src="{{category.category_image.url}}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{category.name}}</h6>
                        <small class="text-body">{{category.total_ads}} Products</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Gold Advertisements</span>
    </h2>

    <div class="row px-xl-5">
        {% for ad in premium_ads %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% if ad.product_image %}
                    <img width="370" height="250" src="{{ad.product_image.url}}" alt="">
                    {% else %}
                    <img width="370" height="250"
                         src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                         alt="">
                    {% endif %}
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="{% url 'product_details' ad.id %}">{{ad.title}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>${{ad.price}}</h5>
                        <h6 class="text-muted ml-2">
                            <del>${{ad.price}}</del>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Advertisements</span>
    </h2>
    <div class="row px-xl-5">
        {% for product in latest_ads %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% if product.product_image %}
                    <img width="370" height="250" src="{{product.product_image.url}}" alt="">
                    {% else %}
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                         alt="">
                    {% endif %}

                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="{% url 'product_details' product.id %}">{{product.title}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5>
                        <h6 class="text-muted ml-2">
                            <del>${{product.price}}</del>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
{% endblock %}
</html>