{% extends 'base.html' %}

{% block body %}
<body>
<div class="main-block">
    <div class="container">
        <h1>Post Your Advertisement</h1>
        <form action="{% url 'post_ad' %}" method="post" enctype="multipart/form-data">
            <hr>
            <div class="account-type">
                <input type="radio" value="none" id="radioOne" name="account" checked/>
                <label for="radioOne" class="radio">Normal Ad</label>
                <input type="radio" value="none" id="radioTwo" name="account"/>
                <label for="radioTwo" class="radio">Premium Ad</label>
            </div>
            <hr>

            <div><input type="text" name="title" id="title" placeholder="Ad Title" required/></div>
            <hr>
            <div><textarea rows="10" cols="50" name="description" id="description" placeholder="Ad Description"></textarea></div>
            <hr>
            <div><input type="text" name="price" id="price" placeholder="Price" required/></div>
            <hr>
            <div><input type="text" name="warranty" id="warranty" placeholder="warranty" required/></div>
            <hr>
            <div><label for="category">Choose Category:</label></div>
            <div>
                <select id="category" name="category">
                    <option value="Electronics">Electronics</option>
                    <option value="Apparels">Apparels & Accessories</option>
                    <option value="Automobiles">Automobiles</option>
                    <option value="Books">Books</option>
                </select>
            </div>
            <hr>
            <div>
                <label for="category">Product Status:</label>
                <select id="status" name="status">
                    <option value="Brand New">Brand New</option>
                    <option value="Like New">Like New</option>
                    <option value="Used">Used</option>
                </select>
            </div>
            <hr>
            <div>
                <label for="file">Upload Ad Image</label>
                <input type="file" id="file" name="file" multiple/>
            </div>
            <hr>
            <hr>

            <div class="btn-block">
                <button style="background-color:orange" type="submit">Post Ad</button>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}

