<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Product Details</title>
{% endblock%}

{% block body %}
<body>
<div class="container">
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{item.product_image.url}}" alt="Image">
                            {% if item.sold %}
                            <img src="{{MEDIA_URL}}/media/sold.jpg" width="100%" height="15%" alt="Image">
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{item.title}}</h3>
                    <div class="d-flex mb-3">
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">${{item.price}}</h3>
                    <div>
                        <h7 class="font-weight-semi-bold mb-4">Category: {{item.category}}</h7>
                    </div>
                    <div>
                        <h7>status: {{item.state}}</h7>
                        <br>
                    </div>
                    <div>
                        <h7>posted by: {{item.posted_by}}</h7>
                        <br>
                    </div>
                    <div>
                        <h7>posted on: {{item.posted_on}}</h7>
                    </div>
                    <div>
                        <h7>used for: {{item.used_for}}</h7>
                        <br>
                    </div>
                    <div>
                        <h7>Negotiable: {{item.negotiable}}</h7>
                        <br>
                    </div>
                    <div>
                        <h7>warranty: {{item.warranty}}</h7>
                    </div>
                    <div>
                        views: {{item.views}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Comments
                            (0)</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Description</a>
                    </div>
                    <div class="tab-content">


                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">comments for the product</h4>
                                    {% for comment in comments %}
                                    {% for c,r in comment.items %}
                                    <div class="media mb-4">
                                        <div class="media-body">
                                            <h6>{{c.posted_by.username}}<small> - <i> {{c.posted_on}} </i></small></h6>
                                            <p>{{c.description}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Comment Here</h4>

                                    <form method="post" action="{% url 'post_comment' item.id %}">
                                        <div class="form-group">
                                            <label for="message">your comment*</label>
                                            <textarea id="message" name="comment" cols="30" rows="5"
                                                      class="form-control"></textarea>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="post" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <h4 class="mb-3">Product Description</h4>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You may also like</span>
        </h2>
        <div class="row px-xl-5">
            {% for product in recommendations %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product.product_image %}
                        <img width="300" height="150" src="{{product.product_image.url}}" alt="">
                        {% else %}
                        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                             alt="">
                        {% endif %}
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="{% url 'product_details' product.id %}">{{product.title}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$123.00</h5>
                            <h6 class="text-muted ml-2">
                                <del>${{product.price}}</del>
                            </h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->
</div>
</body>
<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
{% endblock %}




</html>